.calibre {
    display: block;
    font-family: "Book Antiqua", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-justify-trim: punctuation;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    font-family: "Cambria", "serif";
    font-size: 1.66667em;
    line-height: 1
    }
.calibre3 {
    display: block
    }
.calibre4 {
    color: gray;
    display: block;
    height: 2px;
    text-align: center;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre5 {
    color: windowtext;
    text-decoration: none
    }
.calibre6 {
    height: 30px;
    width: 87px
    }
.calibre7 {
    height: 31px;
    width: 87px
    }
.calibre8 {
    height: 81px;
    width: 81px
    }
.calibre9 {
    font-weight: bold
    }
.calibre10 {
    font-family: "Cambria", "serif";
    font-size: 1em
    }
.calibre11 {
    color: windowtext;
    display: none;
    text-decoration: none
    }
.calibre12 {
    font-style: italic
    }
.calibre13 {
    letter-spacing: -0.1pt
    }
.calibre14 {
    letter-spacing: -0.2pt
    }
.calibre15 {
    letter-spacing: 0.1pt
    }
.calibre16 {
    letter-spacing: 0.2pt
    }
.calibre17 {
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 115%
    }
.calibre18 {
    font-size: 0.75em;
    line-height: 110%;
    text-decoration: none
    }
.calibre19 {
    font-size: 1em;
    line-height: 115%;
    text-decoration: none
    }
.calibre20 {
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%
    }
.calibre21 {
    font-family: "Cambria", "serif";
    font-size: 2em;
    line-height: 110%
    }
.calibre22 {
    font-style: normal
    }
.calibre23 {
    font-family: "Sylfaen", "serif"
    }
.calibre24 {
    font-size: 0.6em;
    line-height: 110%
    }
.calibre25 {
    letter-spacing: -0.15pt
    }
.calibre26 {
    background: aqua
    }
.calibre27 {
    font-size: 0.775em;
    line-height: 110%
    }
.calibre28 {
    text-transform: uppercase
    }
.calibre29 {
    color: gray;
    display: block;
    height: 2px;
    text-align: left;
    margin: 0.5em auto;
    border-top: currentColor solid 1px;
    border-right: currentColor none 1px;
    border-bottom: currentColor none 1px;
    border-left: currentColor none 1px
    }
.calibre30 {
    font-size: 0.75em
    }
.calibre31 {
    font-size: 1em;
    line-height: 115%
    }
.mlpdopis {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    text-align: justify;
    text-indent: 14.2pt;
    margin: 0 14.2pt 0.0001pt
    }
.mlpdopisbez1radku {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    text-align: justify;
    margin: 0 14.2pt 0.0001pt
    }
.mlpdopispodpisi {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-style: italic;
    line-height: 110%;
    text-align: right;
    margin: 6pt 14.2pt 12pt 0
    }
.mlplicencehypertext {
    color: blue;
    font-family: "Cambria", "serif";
    font-variant: normal;
    text-decoration: underline none underline;
    text-transform: none;
    vertical-align: baseline
    }
.mlplicenceobrazek {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 0.75em;
    text-align: center;
    margin: 6pt 0 4.5pt
    }
.mlplicenceparagraf {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin: 0 0 6pt
    }
.mlplicencetext {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 0.75em;
    line-height: 110%;
    text-align: center;
    margin: 0 0 0.0001pt
    }
.mlpobrazky {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    text-align: center;
    margin: 12pt 0 0.0001pt
    }
.mlpobsah {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin: 12pt 0
    }
.mlptext {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    text-align: justify;
    text-indent: 14.2pt;
    margin: 12pt 0 0.0001pt
    }
.mlptext1 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    text-align: justify;
    text-indent: 14.2pt;
    margin: 0 0 12pt
    }
.mlptext2 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    text-align: justify;
    text-indent: 14.2pt;
    margin: 0 0 0.0001pt
    }
.mlptext3 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0.0001pt
    }
.mlptextbez1radku {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    text-align: justify;
    margin: 0 0 0.0001pt
    }
.mlptextbez1radku1 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    text-align: center;
    margin: 0 0 0.0001pt
    }
.mlptextbez1radku2 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    text-align: justify;
    margin: 12pt 0 0.0001pt
    }
.mlptextbez1radkui {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-style: italic;
    line-height: 110%;
    text-align: justify;
    margin: 0 0 0.0001pt
    }
.mlptextbez1radkui1 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-style: italic;
    line-height: 110%;
    text-align: justify;
    margin: 0 0 12pt
    }
.mlptextdopravai {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-style: italic;
    line-height: 110%;
    text-align: right;
    text-indent: 14.2pt;
    margin: 0 0 0.0001pt
    }
.mlptirazautoranazev {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 0.0001pt
    }
.mlptitulkaautor {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1.4em;
    line-height: 1;
    text-align: center;
    margin: 18pt 0 0.0001pt
    }
.mlptitulkanazev {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 2em;
    line-height: 110%;
    text-align: center;
    margin: 120pt 0 0.0001pt
    }
.mlpuroven1cast {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 2em;
    font-weight: bold;
    line-height: 110%;
    text-align: center;
    margin: 120pt 0 0.0001pt
    }
.mlpuroven1zvlastnipripady {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin: 18pt 0 12pt
    }
.mlpvenovanicxspfirst {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-style: italic;
    line-height: 110%;
    text-align: center;
    margin: 120pt 0 0.0001pt
    }
.mlpvenovanicxspmiddle {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-style: italic;
    line-height: 110%;
    text-align: center;
    margin: 0 0 0.0001pt
    }
.mlpverse {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    margin: 12pt 42.55pt
    }
.mlpversei {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-style: italic;
    line-height: 110%;
    margin: 12pt 42.55pt
    }
.mlpznakkurziva11b {
    font-family: "Cambria", "serif";
    font-style: italic
    }
.mlpznaktucne {
    font-family: "Cambria", "serif";
    font-weight: bold
    }
.msofootnotereference {
    color: blue;
    font-family: "Cambria", "serif";
    text-decoration: underline;
    vertical-align: super
    }
.msonormal {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 115%;
    margin: 0 0 0.0001pt
    }
.msonormal1 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 115%;
    text-indent: 14.2pt;
    margin: 0 0 0.0001pt
    }
.msotoc {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 115%;
    margin: 0 0 0.0001pt 11.05pt
    }
.text {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 17pt;
    margin: 0 0 0.0001pt
    }
.textpoznpodarouchar {
    font-family: "Cambria", "serif"
    }
.wordsection {
    display: block;
    page: WordSection1
    }
.wordsection1 {
    display: block;
    page: WordSection2
    }
.wordsection2 {
    display: block;
    page: WordSection3
    }
.wordsection3 {
    display: block;
    page: WordSection4
    }
.wordsection4 {
    display: block;
    page: WordSection5
    }
.wordsection5 {
    display: block;
    page: WordSection6
    }
.wordsection6 {
    display: block;
    page: WordSection7
    }
.wordsection7 {
    display: block;
    page: WordSection8
    }
.wordsection8 {
    display: block;
    page: WordSection9
    }
.wordsection9 {
    display: block;
    page: WordSection10
    }
.wordsection10 {
    display: block;
    page: WordSection11
    }
.wordsection11 {
    display: block;
    page: WordSection12
    }
.pcalibre:visited {
    color: purple;
    font-family: "Times New Roman", "serif";
    text-decoration: underline
    }
.pcalibre1:link {
    color: blue;
    font-family: "Cambria", "serif";
    font-style: normal;
    font-weight: normal;
    text-decoration: underline
    }
